%div{:id => "#{dom_id user}"}
  -# character
  = render 'card', card_role: user
  -# hands
  = turbo_stream_from user, :user_hands
  = render user.user_hands, game: user.game, user: user
  -# support
  = turbo_stream_from user, :user_supports
  = render user.user_supports, game: user.game, user: user
