- if user == current_user
  %div
    - user.user_hands.each do |user_hand|
      = link_to '#' do
        = image_tag user_hand.hand.card_image, size: '180x240'
    = link_to '#' do
      = image_tag user.support.card_image, size: '180x240'
- elsif user.spectator?
  %div
    - user.user_hands.each do |user_hand|
      = link_to '#' do
        =image_tag user_hand.hand.card_image, size: '180x240'
    = link_to '#' do
      = image_tag user.support.card_image, size: '180x240'
- else
  %div
    - user.user_hands.each do |user_hand|
      = image_tag 'cards/card-back', size: '180x240', class: 'enemy-card'
    - if user.support.present?
      = image_tag 'cards/card-back', size: '180x240', class: 'enemy-card'
