%p#notice= notice

%p
  %b Nickname:
  = @user.nickname
%p
  %b Character:
  = @user.character.title

= link_to 'New Game', new_game_path

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
