= form_for @game do |f|
  - if @game.errors.any?
    #error_explanation
      %h2= "#{pluralize(@game.errors.count, "error")} prohibited this game from being saved:"
      %ul
        - @game.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :uuid
    = f.text_field :uuid
  .field
    = f.label :host_id
    = f.number_field :host_id
  .field
    = f.label :guest_id
    = f.number_field :guest_id
  .field
    = f.label :field_id
    = f.number_field :field_id
  .actions
    = f.submit 'Save'
