= turbo_frame_tag game do
  = render "background", game: game do
    .d-flex.flex-column.justify-content-center
      - if current_user.host_role?
        .d-flex.flex-row.justify-content-center.mb-5
          = render 'users/user', game: game, user: @guest
        .d-flex.flex-row.justify-content-center.mt-5
          = render 'users/user', game: game, user: @host
      - elsif current_user.guest_role?
        .d-flex.flex-row.justify-content-center.mb-5
          = render 'users/user', game: game, user: @host
        .d-flex.flex-row.justify-content-center.mt-5
          = render 'users/user', game: game, user: @guest

- if current_user.host_role? && !game.guest.taken?
  = render 'paticipates'
