.game.d-flex.flex-column.justify-content-between{ class: @game.field.card_image }
  .fields.d-flex.justify-content-center.position-relative
    = link_to '対戦相手・観戦者を募集', game_url(id: @game.id), class: 'mt-5 btn btn-secondary w-25'

  .fields.d-flex.justify-content-center.position-relative
    %div
      = link_to details_game_user_path(game_id: params[:id], id: @enemy.id), data: { turbo_frame: "modal" } do
        = image_tag  @enemy.character.card_image, size: '180x240', class: 'enemy-card mx-4'
    = render 'users/user', user: @enemy
  .fields.d-flex.justify-content-center.position-relative.mb-5
    = render 'users/user', user: @account
    %div
      = link_to details_game_user_path(game_id: params[:id], id: @account.id), data: { turbo_frame: "modal" } do
        = image_tag  @account.character.card_image, size: '180x240', class: 'mx-4'