%p#notice= notice

%p
  %b Uuid:
  = @game.uuid
%p
  %b Host:
  = @game.host_id
%p
  %b Guest:
  = @game.guest_id
%p
  %b Field:
  = @game.field_id

= link_to 'Edit', edit_game_path(@game)
\|
= link_to 'Back', games_path
