= turbo_frame_tag "modal" do
  .modal.fade{ data: { controller: "modal" } }
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          %h5.modal-title
            = card.name
          %button.btn-close{ type:"button", data: { 'bs-dismiss': "modal" }, 'aria-label': "Close"}
        .modal-body.d-flex.justify-content-between
          %p.text-break.lh-lg.mx-3.w-50= card.description
          = image_tag card.card_image, class: "card mx-4"
        - if my_turn?(@game.game_details.last) && card.type != 'character'
          .modal-footer
            = yield