.modal.fade{ data: { controller: "modal" } }
  .modal-dialog.modal-xl
    .modal-content
      .modal-header
        %h5.modal-title 対戦相手を募集
        %button.btn-close{ type:"button", data: { 'bs-dismiss': "modal" }, 'aria-label': "Close"}
      .modal-body.overflow-scroll.paticipates
        %ul
          %li.m-3
            = link_to "https://twitter.com/intent/tweet?text=対戦相手募集中！%0A#{request.url}/paticipates/%0A&hashtags=旧約じゃんけん,クソアプリWeek&via=old_janken", target: :_blank, rel: "noopener noreferrer" do
              %i.bi.bi-twitter &nbsp;&nbsp;&nbsp;Twitterで募集
          %li.m-3
            = link_to "https://line.me/R/msg/text/?対戦相手募集中！%0A#{request.url}/paticipates/", target: :_blank, rel: "noopener noreferrer" do
              %i.bi.bi-line &nbsp;&nbsp;&nbsp;LINEで募集
          %li.m-3{ data: { controller: "clipboard" } }
            %input{ type: "hidden", data: { 'clipboard-target': "source" }, value: "#{request.url}/paticipates/" }
            %button{ data: { action: "click->clipboard#copy" }, class: "btn btn-default p-0" }
              %i.bi.bi-link-45deg &nbsp;&nbsp;&nbsp;募集リンクを表示する
