!!!
%html
  %head
    = display_meta_tags(default_meta_tags)
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "no-cache", :name => "turbo-cache-control" }/
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    %main
      = yield
    = turbo_frame_tag "modal"
    = render 'offcanvas'
    %button.btn.btn-light.position-fixed.top-0.end-0.m-3{ type: "button", 'data-bs-toggle': "offcanvas", 'data-bs-target': "#offcanvas", 'aria-controls': "offcanvasExample" }
      %i.bi.bi-list